/* Regola di reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Sfondo Pagina  */
body {
    background-color: #f6f8f9;
}

/* Header  */
header {
    background-color: white;
    padding: 15px 0;
    margin-left: 10px;
}

/* Titolo Principale */
#main_title {
    display: inline-block;
    vertical-align: middle;
    
}

#logo {
    vertical-align: middle;
}

/* Contenitore del Main  */
.container {
    background-color: white;
    width: 70%;
    height: 650px;
    margin: auto;
    margin-top: 30px;
    border-radius: 12px;
}

/* Sposto tutto il contenuto del container verso destra */
section {
    margin-left: 20px;
}


/* Stile Bottoni */
.button1,.button2 {
    padding: 5px;
    border: 1px solid #cbd1d5;
    border-radius: 8px;
    margin: 10px 0;
}

.button1 {
    background-color: #47adf1;
    color: white;
    
}

.button2 {
    background-color: white;
    color: #cbd1d5;
    
}

hr {
    border: 2px solid  #f6f8f9;
}

/* Stile Spunta Verde */
.check {
    color:#6cc4af;
    border: 1px solid #6cc4af;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    width: 20px;
    height: 20px;
}

/* Stile X rossa */
.cross {
    color: #eb5952;
    border: 1px solid #eb5952;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    width: 20px;
    height: 20px;
}

/* Freccia verso il basso delle tasks schedule  */
.down_arrow::before {
    content: '\25BC';
    font-size: 15px;

}

/* Creazione check  */
.check::before {
    content: '\2713';
    
}
/* Creazione cross  */
.cross::before {
    content: '\2717';
    
}

/* rimuovo marks dalla lista */
ul {
    list-style-type: none;
  }

/* Disatnzio elementi della lista   */
.list_row {
    margin-top: 10px;

}  

/* Stile categorie delle tasks  */
.category {
    color: white;
    border: 1px solid ;
    border-radius: 12px;
    font-size: 9px;
    padding: 5px;
}  

.editorial {
    background-color:#47adf1 ;
}

.website {
    background-color: #d863a1 ;
}

.q1_goal {
    background-color: #9c72e4;
}

.sales {
    background-color: #b0c926;
}

.mobile {
    background-color: #f29d33;
}

.recruiting {
    background-color: #64c0a9;
}

.task_schedule {
    margin-top: 20px;
}